---
import CardPost from "./CardPost.astro";
---

<CardPost fechaInicio="2019" fechaFin="actualidad">
  <article class="md:w-[400px] flex flex-col gap-y-1.5 py-2">
    <p class="text-regular">
      Hola! Mi nombre es Verónica Domínguez y soy desarrolladora backend. Inicié mi carrera como desarrolladora backend hace 3 años, pero en realidad vengo practicando en diferentes lenguajes de programación desde el 2014. Mi curiosidad por la informática inició en el año 2011, en el 2012 inicié el Bachiller Técnico en Informática, en donde utilizabamos programas para realizar pseudocódigos que son SL2 y QBasic. Además, fue ahí donde pude tener de mis primeras interaciones con HTML y CSS. Como trabajo final de bachillerato utilizamos el programa Visual Studio Fox 6.0, en donde desarrollamos un sistema que agrupaba personas por departamentos y ciudades y los barrios por ciudades. Fue un sistema bastante sencillo, que me impulsó a ir por la carrera de informática. En mis próximos pasos en el área de TI, no serían necesariamente como el rol de desarrolladora, sino más bien como soporte técnico. Trabajé con ese rol por +3 años. Allí pude pulir mis habilidades más enfocadas a infraestructura de redes, también cumplía con contactar con los proveedores y reportar los fallos en el sistema. Acompañé además a la puesta en producción de varios de los proyectos siendo mi principal rol, velar por que los datos en base de datos sean íntegros y que el usuario final, pueda trabajar con los datos más limpios posibles. Acompañé además al desarrollo de repportes en Power BI, Microsoft SQL Reports, entre otros. En la actualidad, cuento con +3 años en el desarrollo backend. Entre mis labores actuales he realizado la integración con el Sistema de Facturación Electrónica de la Subsecretaría de Estado de Tributación del Paraguay, hemos lanzado una aplicación que se encuentra en el mercado para pago de servicios, he desarrollado módulos para catastro de clientes dentro de dos de las redes más importantes del país. También, he desarrollado el módulo de integración de nuevos beneficiarios para una de las redes más grandes del país, así como también, he acompañado de cerca los incidentes que pueden reportarse en el ambiente productivo demostrando mi capacidad para resolver problemas cuando el sistema es bastante demandado. Mi stack actual de tabajo va desde Javascript, Typescript, NestJS, NodeJS, NextJS, GraphQL, Java, Oracle, Jasper Reports, Git/GitHub, Expressjs, PrismaORM, PostgreSQL, y mucho más.
      Más abajo te cuento un poco sobre mis proyectos y experiencia.
    </p>
    <!-- <p class="text-regular">
      Mi nombre es <strong class="text-primary/90">Jose Flores</strong
      > pero en el mundo del desarrollo web soy conocido como <strong
        class="text-primary/90">JfloresXc</strong
      > debido a un apodo gamer en mi adolescencia.
    </p>
    <p class="text-regular">
      Inicié mi carrera como <strong class="text-primary/90"
        >desarrollador web</strong
      > en el 2019. Para mí aprender a programar era más un deber debido
      a los mitos universitarios. Dentro de esta fui parte de Comutec,
      una comunidad en la cuál descubrí que debo utilizar más la <strong
        class="text-primary/90">lógica</strong
      > y la <strong class="text-primary/90">creatividad</strong> para
      tener grandes resultados.
    </p>
    <p class="text-regular">
      Hoy en día, luego de 4 años, es una satisfaciente realidad que
      me dirigió a impulsar proyectos tanto personales como laborales.
      Además junto a la <strong class="text-primary/90"
        >IEEE Students Society Untels</strong
      > brindar ponencias, dar cursos, compartir tips para iniciantes como
      amigos y mucho más.
    </p> -->
  </article>
  <img
    src="/CNMAC.webp"
    class="w-full h-60 object-cover rounded-xl mt-5"
    alt="Imagen de perfil de portafolio"
  />
</CardPost>